# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# SSH
#ssh -i /home/user/.ssh/id_rsa ssh_user@52.XX.XX.XX -N -L 3307:mysqldb.com:3306 -v


#MYSQL
DB_HOST = mysqldb.com
DB_USER = user
DB_PASSWORD = pwd
DB_DATABASE = dbname

SSH_HOST = 52.XX.XX.XX
SSH_USER = ssh_user
SSH_PRIVATE_KEY = /home/user/.ssh/id_rsa